/// Project colors
$beige-light: #daccbf;
$beige: #bea185;
$black: #222222;
$blue: #030eda;

body{
  background-color: var(--beige-light);
  color: $black;
  font-family: 'Montserrat', sans-serif;
}

/* ----------------
 ----- HEADER -----
 ------------------ */
.gt-header{
  margin-bottom: 20px;
  &__logo{
    text-align: center;
  }
  &__img{
    max-width: 350px;
  }
  .gt-menu{
    &__list{
      display: flex;
      justify-content: center;
      border-top: 2px solid $beige;
      border-bottom: 2px solid $beige;
      margin: 0 auto;
      width: 80%;
      padding: 20px 0;
    }
    &__links{
      position: relative;
      &:not(:last-child)::after{
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: -3px;
        margin: auto;
        height: 15px;
        width: 2px;
        background-color: $beige;
      }
    }
    &__link{
     padding: 0 25px;
     &:hover{
      color: $blue;
    }
    }
  }
}
 /* -------------------
 ----- END HEADER -----
 ---------------------- */

/* ----------------
 ----- FOOTER -----
 ------------------ */
.gt-footer{
  text-align: center;
  padding: 20px 0;
  /* Position footer on bottom */
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.gt-footer .gt-footer__logo{
  max-width: 100px;
}
.gt-footer .gt-footer__txt{
  margin: auto;
  font-size: 14px;
}
/* --------------------
 ----- END FOOTER -----
 ---------------------- */